/* Load font files */
@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

* {
	font-family: 'Poppins', sans-serif;
}


/* Body stylesheet */
body {
	background: #F2F4F8;
}


/* Sidebar */
.sidebar {
	width: 6%;
	height: 100vh;
	background: #363853;
	position: fixed;
	top: 0;
	left: 0;
	transition: .3s ease-in-out;
}


/* Content wrapper */
.content {
	width: 94%;
	margin-left: 6%;
	padding-top: 66px;
}

.content-inner {
	padding: 36px 42px;
	width: 100%;
}

.sidebar-logo {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	margin-bottom: 46px;
}

/* Load icon files */

.add-project-button {
	width: 40px;
	height: 40px;
	border-radius: 10px;
	background: #FF8A00;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: .4s ease-in-out;
	margin-bottom: 36px;
}

.add-project-button:hover {
	background: #DD7700;
}

.sidebar-link {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 36px;
}

.drop-bottom {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 24px;
}

.btn-clear {
	border: none;
	background: transparent;
}

.button-toggle {
	border: none;
	background: transparent;
	padding: 0;
}

.rounded-ten {
	border-radius: 10px;
	border: 1px solid rgba(0,0,0,.1);
	color: #333333;
}

.content-header {
	width: 94%;
	height: 66px;
	background: #ffffff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 42px;
	position: fixed;
	top: 0;
	left: 6%;
	z-index: 12;
	box-shadow: 0 3px 12px rgba(0,0,0,.05);
}

.btn-rounded {
	border-radius: 8px;
	font-weight: 600;
}

.button-link {
	border: none;
	background: transparent;
	padding: 0;
}

.dropdown-menu-custom {
	border-radius: 8px;
	border: none;
	box-shadow: 0 8px 16px rgba(0,0,0,.1);
}

.content-title {
	font-size: 24px;
	font-weight: 600;
}

.card-custom {
	border-radius: 10px;
	background: #ffffff;
	width: 100%;
	min-height: 200px;
	border-bottom: 30px;
	margin-bottom: 30px;
}

.content-inner-header {
	margin-bottom: 20px;
}

.card-custom-body {
	padding: 30px;
}

.custom-input {
	border-radius: 8px;
}

.custom-link {
	text-decoration: none;
}

.label-bold {
	font-weight: 600;
}

/* Custom class to modify the circle progress */

.big-circle {
	position: relative;
	width: 150px;
	height: 150px;
	z-index: 6;
}

.big-circle circle {
	width: 100%;
	height: 100%;
	fill: none;
	stroke: #EDEDF2;
	stroke-width: 10;
	stroke-linecap: round;
	transform: translate(5px, 5px);
}

.big-circle circle:nth-child(2) {
	stroke-dasharray: 440;
	stroke-dashoffset: calc(440 - (440 * 90) / 100);
	stroke: #1A73E8;
	transition: .4s ease-in-out;
}

.big-circle circle:nth-child(2):hover {
	stroke: #1567D3;
}

.small-circle {
	position: relative;
	width: 50px;
	height: 50px;
	z-index: 6;
}

.small-circle circle {
	width: 100%;
	height: 100%;
	fill: none;
	stroke: #EDEDF2;
	stroke-width: 5;
	stroke-linecap: round;
	transform: translate(5px, 5px);
}

.small-circle circle:nth-child(2) {
	stroke-dasharray: 110;
	stroke-dashoffset: calc(110 - (110 * 90) / 100);
	stroke: #1A73E8;
	transition: .4s ease-in-out;
}

.small-circle circle:nth-child(2):hover {
	stroke: #1567D3;
}


.circle-success svg circle:nth-child(2) {
	stroke: #27AE60;
}

.circle-success small {
	color: #27AE60;
}

.circle-danger svg circle:nth-child(2) {
	stroke: #EB5757;
}

.circle-danger small {
	color: #EB5757;
}

.progress-circle-box{
	position: relative;
	display: inline-block;
}

.progress-description{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.progress-rounded {
	border-radius: 30px;
	height: 6px;
}

.progress-rounded .progress-bar {
	border-radius: 30px;
}

.item-title{
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	text-transform: capitalize;
	color: #142640;
}

.item-detail{
	font-size: 12px;
	line-height: 22px;
	text-transform: capitalize;
	color: #535F70;
}

.item-row{
	padding: 20px 30px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.card-custom-height {
	min-height: 430px;
}

.card-custom-footer {
	padding-top: 24px;
}

.card-custom-header {
	padding: 30px;
	border-bottom: 1px solid rgba(0,0,0,.1);
}

.progress-mini {
	width: 80px;
}

.custom-card-content {
	border-radius: 8px;
	background: #F3F3F6;
	padding: 15px;
}

.custom-divider	 {
	width: 100%;
	border-bottom: 1px solid rgba(0,0,0,.1);
}

.custom-code-view {
	background: #ffffff;
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,.1);
	padding: 20px;
	line-height: 30px;
}

.move-right-position {
	position: absolute;
	right: 0;
}

.tooltip-inner {
   text-align: left;
   padding: 24px;
}

/* Custom input line */

.input-line {
	padding: 6px 0;
	border: none;
	background: transparent;
	border-bottom: 1px solid rgba(0,0,0,.2);
}

.input-line:focus {
	outline: none;
	border-color: rgba(0,0,0,.5);
}

/* Add trantition in the sidebar toggle action */

.sidebar, .content, .content-header {
	transition: .3s ease-in-out;
}

/* Group class if sidebar toggle button clicked */

.sidebar-active {
	left: -6%;
}

.content-active {
	margin-left: 0;
	width: 100%;
}

.content-header-active {
	left: 0;
	width: 100%;
}


/* give border to performance element */

.have-border {
	border-right: 1px solid rgba(0,0,0,.1);
}

.modal-custom {
	border-radius: 10px;
	border: none;
}

.custom-badge-danger {
	color: #EB5757;
	background: rgba(235, 87, 87, 0.1);
}

.table-custom td, .table-custom th {
	padding: 16px 30px;
}

.center-wrapped {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 40px;
	height: 26px;
	background-color: #ffffff;
	text-align: center;
}

.number-phone-custom select {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 15px;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.number-phone-custom select:focus {
	outline: none;
}

.number-phone-custom input {
	padding-left: 76px;
}

.accordion-item-custom{
	border: 0;
}

.accordion-button-custom:not(.collapse){
	box-shadow: none;
	background: #ffffff;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.02em;
	color: #363853;
	padding: 0px 0px 16px 0px;
}

.accordion-body-custom{
	padding: 0px 0px 0px 10px;
}

.form-check-custom{
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	letter-spacing: -0.02em;
	color: #363853;
	padding-bottom: 16px;	
}

.row-dropdown{
	padding: 30px;
	width: 1116px;
}

.title-uncompressed{
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #EB5757;
	margin-bottom: 8px;
}

.title-compressed{
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #27AE60;
	margin-bottom: 8px;
}

.detail-list{
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #363853;
	margin-bottom: 24px;
}

.list-link{
	font-size: 14px;
	line-height: 14px;
	letter-spacing: -0.02em;
	color: #1A73E8;
	text-decoration: none;
	margin-bottom: 16px;
}

.w-rate{
	width: 283px;
}

.card-rate{
	/*text-align: center;*/
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	text-transform: capitalize;
	color: #FFFFFF;
	border-radius: 6px;
	border: none;
}

.card-body-rate{
	padding: 0;
}

.rate-good{
	padding-top: 16px;
	background: #03CE6B;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

.rate-improvement{
	background: #FFA400;
	padding: 0 4px;
}

.rate-poor{
	padding-top: 16px;
	background: #FE4F42;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

.line-rate{
	margin-top: -5px;
}

.text-rete{
	font-weight: 500;
	font-size: 10px;
	line-height: 15px;
	text-align: center;
	text-transform: capitalize;
	color: #363853;
	margin-top: 5px;
}

/* Condition if in the mobile size */

@media (max-width: 768px) {
	.sidebar {
		left: -80px;
		width: 80px;
	}

	.content {
		width: 100%;
		margin-left: 0;
	}

	.content-inner {
		padding: 20px 15px;
	}

	.content-header {
		left: 0;
		width: 100%;
		padding: 0 15px;
	}

	.card-custom {
		margin-bottom: 18px;
	}

	.sidebar-active {
		left: 0;
	}

	.content-active {
		margin-left: 80px;
	}

	.content-header-active {
		left: 80px;
	}

	.progress-mini {
		width: 60px;
	}

	.input-line {
		width: 30px;
	}

	body {
		overflow-x: hidden;
	}

	.have-border {
		border: none;
	}

	.progress-group span {
		font-size: 12px;
	}

	.progress-group div {
		font-size: 12px;
	}

	.rm-mobile {
		margin:	0;
	}

	.row-dropdown{
		width: auto;
	}

	.w-bar{
		width: 37px;
	}

	.detail-list{
		margin-bottom: 16px;
	}

	.list-link{
		font-size: 12px;
	}

	.mb-40{
		margin-bottom: 32px;
	}
}