.card-alert{
	background: rgba(235, 87, 87, 0.12);
	border: 1px solid #EB5757;
	border-radius: 8px;
	margin-bottom: 24px;
}
.btn-delete{
	background: #EB5757;
	border-radius: 8px;
	color: #ffffff;
}
.alert-title{
	font-weight: 600;
	color: #EB5757;
	line-height: 30px;
	letter-spacing: -0.02em;
}
.text-alert{
	font-size: 14px;
	line-height: 24px;
	letter-spacing: -0.02em;
	color: #747B90;
}
.alert-icon{
	color: #EB5757;
}